{% extends 'base.html.twig' %}

{% block title %}
    Jobs in the {{ category.name }} category
{% endblock %}

{% block body %}
    <h4>{{ category.name }}</h4>

    {#{% include 'job/table.html.twig' with {'jobs': category.activeJobs} only %}#}
{% endblock %}