<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Jobeet - Your best job board{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('job.list') }}">Jobeet</a>

            <div class="">
                <form action="/job/search" method="post" class="form">
                    <input type="text" name="search" placeholder="Издөө ..." />
                    <input type="submit" value=">>"/>
                </form>
            </div>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <div>
                            <a href="{{ path('admin.category.list') }}" class="btn btn-default navbar-btn">Admin Panel</a>
                        </div>
                    </li>
                {% endif %}
                <li>
                    <div>
                        <a class="navbar-brand" href="{{ path('job.list') }}">Jobeet</a>
                    </div>
                </li>
                {% if app.user %}
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<li style="margin-right: 10px">
    <div>
        <a href="{{ path('affiliate.create') }}" class="btn btn-default navbar-btn">Affiliates</a>
    </div>
</li>

<div class="col-sm-12 text-right">
    <a href="{{ path('job.create') }}" class="btn btn-default navbar-btn">Post a Job</a>
</div>
<div class="col-md-2">
    {% set currentRouteName = app.request.get('_route') %}

    <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
        <li role="presentation" {% if currentRouteName starts with 'admin.category.' %}class="active"{% endif %}>
            <a href="{{ path('admin.category.list') }}">Categories</a>
        </li>

        <li role="presentation" {% if currentRouteName starts with 'admin.job.' %}class="active"{% endif %}>
            <a href="{{ path('admin.job.list') }}">Jobs</a>
        </li>
        <li role="presentation" {% if currentRouteName starts with 'admin.affiliate.' %}class="active"{% endif %}>
            <a href="{{ path('admin.affiliate.list') }}">Affiliates</a>
        </li>
    </ul>
</div>

<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>